body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
/* first section style */

.container{
    display: flex;
    background-color: #1e0d68;
}
.heading{
    width: 100%;
    padding-left: 150px;
    padding-top: 207px;
    
}
.heading h1{
    font-size: 50px;
    color: white;
    
    

}
.banner img{
    width: 595px;
    height: 458px;
    padding-bottom: 66px;
    padding-top: 153px;
    padding-right: 50px;
}
.link-button{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #E02C6D;
    line-height: 100%;
    padding: 10px 24px;
    
}
.link-button:hover{
    background-color: #8f08b1;
    line-height: 100%;
    padding: 10px 24px;
}
.fas{
    margin-left: 8px;
}

/* -----
second section
---------- */

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: px;
    row-gap: 30px;
    justify-content: center;
    margin-top: 70px;
    margin-left: 5%;
}
.players{
    width: 300px;
    height: 440px;
    box-shadow: 0 0 40px gray;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;

    
}
.player img{
    width: 300px;
    height: 256px;
}
.player-info{
    width: 300px;
}
..player-info h1{
    font-style: bold;
    font-size: 28px;
}
/* ------------
third section
------------ */
.third-section{
    display: flex;
}
.highlights{
    width: 50%;
    padding-left: 150px;
    padding-top: 100px;
}
.highlights h1{
    font-size: 48px;
    
}
.highlights p{
    padding-bottom: 12px;
}
.highlighted-image img{
    width: 530px;
    height: 400px;
    padding-top: 81px;
    padding-right: 40px;
}
/* ----------
scorers list in euro
--------- */
.scorer-list{
    display: flex;
}
.scorer img{
    width: 500px;
    height: 456px;
    padding-top: 81px;
    padding-left: 150px;
}
.Goal-scorers{
    width: 50%;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 100px;
}
.Goal-scorers h1{
    font-size: 45px;

}
/* ----------
footer section
--------------- */
.footer-item{
    margin-top: 168px;
} 
 
.image-size{
    width: 483px;
    height: 110px;
    padding-left: 380px;
    padding-top: -20px;
    
}
.social-link{
    padding-left: 500px;
    display: flex;
    width: 170px;
    height: 32px;
}
.social-link img{
    padding-left:10px;
}
.footer-item p{
    padding-left: 500px;
}
